# data files
*.csv
**.xlsx

# ide
.vscode/
.idea/

# runtime files
fatty-acid
*.exe
*.exe~
*.dll
*.so
*.dylib

# go vendor
vendor/

# system files
.history/
.DS_Store
Thumbs.db
*~
*.swp
*.swo
.env

# log files
*.log